body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	background: #181818;
	color: lightgreen;
}

a {
	text-decoration: none;
	color: yellow;
}

.navbar {
	width: 100%;
	display: flex;
	background: #000;
	border-bottom: 1px solid #ffffff7A;
}

.navbar ul {
	width: 100%;
	display: flex;
	justify-content: right;
}

.navbar li {
	width: 10%;
	margin-right: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	font-size: 1.4rem;
}

.navbar a {
	color: lightgreen;
}

.about--class {
	margin-bottom: 100px;
}

.contact--class {
	margin-bottom: 100px;
}

main {
	margin: 20px;
}

#txta--service {
	background: #000;
	color: cyan;
}

#txta--about {
	background: #000;
	color: cyan;
}

#txta--contact {
	background: #000;
	color: cyan;
}

.div--link {
	margin-bottom: 60px;
}

footer {
	position: fixed;
	box-sizing: border-box;
	width: 100%;
	margin: 0px 0px;
	bottom: 0px;
	z-index: 1;
	background: #000;
	border-top: 1px solid #ffffff7A;
	font-size: 1.4rem;
}

.footer--nav {
	width: auto;
	display: flex;
	margin: 10px 0px;
}

.footer--nav li {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.footer--nav a {
	color: lightgreen;
}